@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}
header{
    padding: 10px;
    background-color: lightgrey;
    color: black;
    margin: 10px;
}
nav{
    background-color: rgb(167, 167, 167);
    padding: 3px;
    box-shadow: 1px 1px 1px black;
}
nav > a{
    text-decoration: none;
    padding: 3px;
    margin-right: 30px; 
    box-shadow: 1px 1px 1px black ;
}
nav > a:hover{
    text-decoration: underline;

}
     
footer{
    text-align: center;
    background-color:black;
    color: white;
    padding: 5px;
    margin: auto;
}
main{
    padding: 10px;
    background-color: lightgrey;
    color: black;
    margin: 10px;
    border-radius: 10px 20px 30px 40px;
    box-shadow: 3px 3px 3px black;
}
article{
    background-color: lightgrey;
}
article > aside{
    background-color: rgb(119, 117, 117);
}
div#bola{
  height: 100px;
  width: 100px;
  background-color: azure;
  margin: 10px;
  border-radius: 50%;
}